* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  background-color: rgb(58, 58, 58);
  color: white;
}

h1 {
  margin: 5px;
  text-align: center;
  animation: slide-bottom 0.5s cubic-bezier(0.48, 0.07, 0.1, 1.19) both;
}

@keyframes slide-bottom {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}
.container {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.gamegrid {
  display: grid;
  margin-left: 100px;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: max-content;
  justify-content: center;
  max-width: 312px;
}

.scorecontainer {
  padding: 20px;
  margin-left: 2em;
  background-color: rgb(134, 134, 134);
  max-height: 2.5em;
  border-radius: 25px;
  animation: slide-bottom 0.5s cubic-bezier(0.48, 0.07, 0.58, 1.45) both;
  animation-delay: 75ms;
}
.lane {
  width: 100px;
  height: 500px;
  background: rgb(243, 194, 255);
  /* background: linear-gradient(
    170deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(231, 196, 255, 1) 100%
  ); */
  border: 2px #8000807a solid;
  transition-property: all;
  transition-duration: 0.2s;
}

.laneactive {
  background: rgb(251, 255, 200);
  /* background: linear-gradient(
    170deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(255, 229, 114) 100%
  ); */
  border: 2px #b40e507a solid;
}
.playarea {
  width: 100px;
  border: 2px solid black;
  background-color: rgb(71, 36, 66);
  transition-property: background-color;
  transition-duration: 0.2s;
}

.playactive {
  background-color: yellow;
}

.fallbox {
  width: 100px;
  border-radius: 25%;
  background-color: rgba(137, 43, 226, 0.596);
  opacity: 0;
}

.fallingAnimation {
  animation-name: falling;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes falling {
  0% {
    transform: translateY(-800px);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 0;
  }
}

#start {
  background-color: rgb(181, 203, 149);
  color: white;
  font-weight: 800;
  border: none;
  border-radius: 5px;
  padding: 15px 32px;
}
#start:hover {
  background-color: yellow;
  color: black;
}
#stop {
  background-color: rgb(203, 89, 89);
  color: white;
  font-weight: 800;
  border: none;
  border-radius: 5px;
  padding: 15px 32px;
}

.collision {
  background: rgb(255, 44, 44);
  /* background: rgba(255, 255, 255, 0); */
  /* background: linear-gradient(
    170deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(193, 0, 0) 100%
  ); */
  border: 2px #b40e507a solid;
}

.collisioned {
  background: rgba(255, 114, 114, 0.785);
}
