* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  /* background-color: rgb(58, 58, 58); */
  color: white;

  background: linear-gradient(180deg, #312738, rgb(35, 39, 61));
  background-size: 400% 400%;

  animation: gradientBG 5s ease infinite;
  overflow: hidden;
}
@keyframes gradientBG {
  0%{background-position:0% 36%}
  50%{background-position:100% 65%}
  100%{background-position:0% 36%}
}
.title {
  position: relative;
  z-index: 2;
  animation: confirm-slide-in 0.55s ease-out both;
  animation-delay: 120ms;
}
h1 {
  margin: 5px;
  text-align: center;
  animation: slide-in 0.5s cubic-bezier(0.48, 0.07, 0.1, 1.19) both;
}

@keyframes slide-in {
  0% {
    transform: translateY(-220px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes confirm-slide-in {
  0% {
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(0);
  }
}
.container {
  display: flex;
  /* align-items: center; */
  justify-content: center;

}
.containercolumn {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 2em;
}
.gamegrid {
  display: grid;
  margin-left: 30px;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: max-content;
  justify-content: center;
  transition-timing-function: ease-out;
  transition-duration: 0.45s;
}
.gamegrid3d{
  transform: perspective(240px) rotateX(15deg) translateY(-85px);
}
.scorecontainer {
  padding: 20px;
  margin-left: 2em;
  background-color: rgb(134, 134, 134);
  max-height: 2.5em;
  min-width: 1em;
  border-radius: 25px;
  animation: slide-in 0.5s cubic-bezier(.18,.66,.49,1.01) both;
  animation-delay: 75ms;
  transition-duration: 0.3s;
}
.scorecontainer:hover {
  border-radius: 20px;
}
.highscorecontainer {
  margin-top: 2px;
  padding: 20px;
  margin-left: 2em;
  background-color: rgb(134, 134, 134);
  max-height: 2.5em;
  max-width: 5em;
  border-radius: 25px;
  animation: slide-in 0.5s cubic-bezier(.18,.66,.49,1.01) both;
  animation-delay: 125ms;
  transition-duration: 0.3s;
  z-index: 3;
}

.highscorecontainer:hover {
  background-color: rgb(156, 156, 156);
  border-radius: 15px;
}

.clearconfirm {
  margin-top: 2px;
  padding: 5px;
  margin-left: 2em;
  background-color: rgb(150, 73, 73);
  border-radius: 25px;
  animation: confirm-slide-in 0.35s ease-out both;
  transition-duration: 0.3s;
  max-height: 5em;
  margin-bottom: 2px;
  z-index: 2;
}
.clearconfirm:hover{
  background-color: rgb(255, 41, 41);
  border-radius: 5px 10px 5px 10px;
}


.instructionsbox {
  margin-top: 2px;
  padding: 20px;
  margin-left: 2em;
  background-color: rgb(89, 96, 156);;
  padding: 5px;
  max-height: 120px;
  border-radius: 25px;
  transition-duration: 0.3s;
  animation: slide-in 0.5s cubic-bezier(.18,.66,.49,1.01) both;
  animation-delay: 225ms;
  z-index: 1;
}
.instructionsbox:hover {
  background: rgb(194, 222, 255);
  border-radius: 15px;
  color: black
}

.instructionsboxscale {
  max-height:30px;
  
}
.lane {
  width: 100px;
  height: 500px;
  background: rgb(194, 222, 255);
  border: 2px #8000807a solid;
  transition-property: all;
  transition-duration: 0.2s;
  user-select: none;
  animation: confirm-slide-in 0.25s ease-out both;
}
.lane:hover{
color: rgb(87, 87, 87);
}
.laneactive {
  background: rgb(251, 255, 200);
  border: 2px #b40e507a solid;
  color: black
}
.playarea {
  width: 100px;
  border: 2px solid black;
  color: black;
  background-color: rgb(71, 36, 66);
  transition-property: background-color;
  transition-duration: 0.2s;
  animation: confirm-slide-in 0.25s ease-out both;
}

.playactive {
  background-color: yellow;
}

.fallbox {
  position: relative;
  /* width: 100px; */
  border-radius: 25%;
  background-color: rgb(243, 77, 0);
  opacity: 0;
  z-index: 1;
  shape-rendering: optimizeSpeed;
}
/* .big{
grid-column: 1 / 4;
background-color: rgb(210, 60, 255);
} */
.fallingAnimation {
  animation-name: falling;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes falling {
  0% {
    transform: translateY(-800px);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 0;
  }
}

.start {
  margin-top: 2px;
  margin-left: 2.5em;
  background-color: rgb(176, 226, 101);
  color: black;
  font-weight: 800;
  border: none;
  border-radius: 25px;
  padding: 15px 32px;
  transition-duration: 0.25s;
  animation: slide-in 0.5s cubic-bezier(.18,.66,.49,1.01) both;
  animation-delay: 275ms;
}
.start:hover {
  background-color: yellow;
  color: black;
  border-radius: 10px;
}
.inactive {
  background-color: rgb(110, 110, 110);
}

.message{
  font-size: 32pt;
  font-style: italic;
  font-weight: bolder;
  text-align: center;
  padding: 0 25px;
  margin: 0;
  width: 250px;
  top: 25%;
  white-space: nowrap;
  background-color: #dd2d2d;
  position: absolute;
  z-index: 4;
  border-radius: 10px;
  visibility: hidden;
  overflow: hidden;
}
.messagetext{
  animation: marquee 3.14s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(-542px);
  }
}
.messagein{
  animation-name: slide-up;
  animation-duration: 0.45s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes slide-up {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.messageout{
  animation-name: slide-up-away;
  animation-duration: 0.25s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes slide-up-away {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(-20px);
    opacity: 0;
  }
}
.collision {
  background: rgb(255, 44, 44);
  border: 2px #b40e507a solid;

}

.collisioned {
  background: rgba(255, 114, 114, 0.785);
}

